:root {
    --main : #FDFCDC;
    --fine : #FED9B7;
    --root : #F07167;
}
/* immagine ? */
.image {
    height: 60px;
    width: 60px;
    
}
/* navbar */
.mynavbar {
    background-color: var(--root);
    top: 0;
    width: 100%;
    z-index: 1000; /* Assicura che la navbar sia sopra il contenuto */   
    padding: 10px 0; /* Spaziatura interna */
}



.body {
    background-image:url(/public/img/Senza_titolo_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 150px;
}


.glow-on-hover {
    width: 120px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #410909;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3a0808;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
};

.button {
    color-scheme: white ;
};

footer {
    background-color: var(--fine);

}






