/* Definizione delle variabili di colore */
:root {
    --main: #FDFCDC; /* Colore principale */
    --fine: #FED9B7; /* Colore secondario */
    --root: #F07167; /* Colore di base */
    --main1:#8E9AAF;
    --main2:#CBC0D3;
    --fine1:#EFD3D7;
    --white:#FEEAFA;
    --root1:#FEEAFA;
    /* --grad1:linear-gradient(90deg, rgba(93,9,121,1) 47%, rgba(0,212,255,1) 100%); */
    ;

}
/* navbar */
.mynavbar {
    background: rgb(246,182,18);
    background: linear-gradient(to right, #ffeb3b, #4caf50);
    padding: 15px; /* Aggiungi spazio intorno ai link */
   
 
    
}



.about {
    position: absolute;
    top: 100%; /* Imposta la distanza dal bordo superiore */
    left: 0; /* Imposta la distanza dal bordo sinistro */
    max-height: 150px; /* Imposta un'altezza massima */
      
    
    max-width: 0px; /* Imposta una larghezza massima */
}

.drop{
   margin-right: 100px;
    list-style: none;
    
       
    
       
    
    
    
}



.dadDrop {
    position: start;
}

.lang {
    height: 20px;
    width: 20px;
}



/* Stile per il logo */

.imagelogo {
    height: 75px;
    width: 115px;
    padding: -20px;   
    margin-top: 10px;
    margin-block-start: 1%;
    margin-right: 20px;
   
    
}
.language {
    
    height: 27px;
    width: 40px;
   
    margin: 0%;
    border: 0%;
}






/* Stile per il body */
body {
    /* background-image: url(/public/img/sfondotest.png); */
    background-color: #e0f7fde0;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    margin-top: 150px;
}




/* Definizione del colore per gli elementi con classe .button */
.buttonDad {
    color-scheme: white;
    padding: 20px;

}

/* Stile per il footer */
footer {
    background-color: var(--fine);
}

/* Media queries per renderlo responsive */

/* Adatta il logo per schermi con larghezza massima di 768px */
@media only screen and (max-width: 768px) {
    .logo {
        width: 40%;
    }
}

/* Adatta ulteriormente il logo per schermi con larghezza massima di 480px */
@media only screen and (max-width: 480px) {
    .logo {
        width: 60%;
    }
}



/* Regole CSS per rendere la navbar responsive */
@media (max-width: 768px) {
    /* Riduci il padding del contenitore principale della navbar */
    .container-navbar {
      padding: 0;
    }
  
    /* Imposta la larghezza massima del logo per adattarsi a schermi più piccoli */
    .navbar-brand img {
      max-width: 120px;
    }
  
    /* Modifica la direzione dei link della navbar su schermi più piccoli */
    .navbar-nav {
      flex-direction: column;
    }
  
    /* Aggiungi margine inferiore ai singoli elementi della navbar su schermi più piccoli */
    .navbar-nav .nav-item {
      margin-bottom: 5px;
    }
  
    /* Aggiungi margine superiore alla navbar sul toggle su schermi più piccoli */
    .navbar-collapse {
      margin-top: 10px;
    }
  
    /* Riduci il padding dei link della navbar su schermi più piccoli */
    .nav-link {
      padding: .5rem 1rem;
      
    }
    
    
    

    /* Centra i pulsanti di accesso e registrazione sulla navbar su schermi più piccoli */
    .buttonDad {
      text-align: center;
    }
  }

 .nav-link,
.nav-link:after,
.nav-link:before {
  transition: all .5s;
}
.nav-link:hover {
  border-bottom: var(--fine) 2px solid;
  padding: 1px;
}
  
  .imagelang {
    height:30px
  }

  .prova {
   width: 500px;
    
  }

  .mybtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 25px; /* Per un aspetto rotondo */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Stile al passaggio del mouse */
  .mybtn:hover {
    background-color: #45a049;
  }
  
  /* Stile al click */
  .mybtn:active {
    background-color: #388e3c;
  }
/* Stile per il pulsante */
.mybtnone {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #ffeb3b; /* Colore verde */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombra leggera */
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  /* Stile al passaggio del mouse */
  .mybtnone:hover {
    background-color: #bdab0c; /* Colore verde più scuro */
    transform: translateY(-2px); /* Solleva leggermente il pulsante */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Ombra più pronunciata */
  }
  
  /* Stile al click */
  .mybtnone:active {
    background-color: #726808; /* Colore verde più scuro al click */
    transform: translateY(1px); /* Abbassa leggermente il pulsante */
    box-shadow: none; /* Rimuove l'ombra al click */
  }

/* dropdown */
.dropdown-menu{

  background: linear-gradient(to right, #ffeb3b, #4caf50); 
  


}
/* effetto navbar */
.dropdown-item:hover{

  background: linear-gradient(to left, #ffeb3b, #4caf50); 
  color: white;


}
/* hover bottone annunci */
.dropdown-item1:hover{

  background: linear-gradient(to left, #ffeb3b, #4caf50); 
  color:white ;
  border: 2px solid black;


}

.buttonone {
  margin-right: 0px;
}

.img-preview{
height: 300px;
width: 300px;
background-repeat: no-repeat ;
background-size:auto;
}